html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #eef0f1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Nunito', sans-serif;
}

.global-data .alert {
    color: #fff;
}

.global-data .alert-primary {
    background-color: #f9ed69 !important;
}

.global-data .alert-danger {
    background-color: #6a2c70 !important;
}

.global-data .alert-success {
    background-color: #f08a5d !important;
}

.global-data .alert-dark {
    background-color: #b83b5e !important;
}

.global-data .alert>div:nth-child(odd) {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.global-data .alert>div:nth-child(even) {
    font-size: 20px !important;
}

header,
footer {
    background: #fff;
    padding: 7.5px 0;
}

@media only screen and (min-width: 576px) {
    header {
        padding: 15px 0;
    }
}

.header__group,
.footer__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (min-width: 576px) {
    .header__group,
    .footer__group {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__group a {
    margin: 7.5px 0;
}

@media only screen and (min-width: 576px) {
    .header__group a {
        margin: 0;
    }
}

.footer__group p {
    margin: 7.5px 0;
}

@media only screen and (min-width: 576px) {
    .footer__group p {
        margin: 0;
    }
}

.header__logo {
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
    .header__logo {
        font-size: 40px;
    }

    .wrapper .row .col-md-9 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
    }

    .countries-table {
        position: absolute;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        overflow: scroll;
    }
}

.header__logo:hover i {
    animation: spin 6s linear infinite;
}

.header__youtube i {
    margin-right: 10px;
}

.header__youtube:hover i {
    animation: spin 3s linear infinite;
}

.wrapper {
    padding: 15px 0;
}

.loader {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.loader i {
    font-size: 300px;
    color: #dc3545;
    animation: spin 6s linear infinite;
}

.sidebar {
    font-size: 20px;
}

#regions_div {
    display: none;
    margin-bottom: 15px;
    overflow: scroll;
}

.global-data,
.countries-table,
#search-country {
    display: none;
}

#search-country {
    margin-bottom: 15px;
}

.global-data>div {
    transition: transform .3s;
}

.global-data>div:hover {
    transform: scale(1.02);
}

.table thead th {
    position: relative;
}

.table tbody tr {
    transition: background-color .3s;
}

.table tbody tr:hover,
.table tbody tr:focus {
    background-color: #fff;
}

th[role=columnheader]:not(.no-sort):after {
    float: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
